// Index header img animation
.subHeaderHero_img {
    transform: translatey(0px);
    animation: floating 6s ease-in-out infinite;
}
@keyframes floating {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-15px);
	}
	100% {
		transform: translatey(0px);
	}
}

.ombre {
	animation: scaleOmbre 6s ease-in-out infinite;
}

@keyframes scaleOmbre {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes click {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1);
    }
}

// Apparition
.sr .card {
    visibility: hidden;
}